/.vscode
/.venv
/dist
/qsourcelogger.egg-info
/publish.sh
__pycache__
test.py
ui.blp
ui.css
research
debug
/testing
.markdownlint.json
betatest
qsourcelogger/testing/server_preferences.json
qsourcelogger/testing/server_database.db
.idea
venv
manual.md
.DS_Store
adif.xlsx
